N8N_VERSION=<version>

POSTGRES_USER=<postgres_user>
POSTGRES_PASSWORD=<postgres_password>
POSTGRES_DB=<postgres_db>

POSTGRES_NON_ROOT_USER=<non_root_user>
POSTGRES_NON_ROOT_PASSWORD=<non_root_password>

ENCRYPTION_KEY=<encryption_key>

RUNNERS_AUTH_TOKEN=<runners_auth_token>

CLOUDFLARE_TUNNEL_TOKEN=<cloudflare_tunnel_token>
